.image-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 30px 60px;
}

.image-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: end;
  justify-content: center;
  /* width: fit-content; */
  padding: 30px;
  height: 290px;
}

.bio-image {
  width: 210px;
  max-height: 250px;
  min-height: 200px;
  object-fit: cover;
  border-radius: 30px;
  filter: drop-shadow(0 0.2rem 0.25rem rgba(0, 0, 0, 0.3));
  position: relative;
  overflow: hidden;
}

.image-details {
  /* border: 1px solid brown; */
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  /* bottom: 0; */
  /* bottom: 20%; */
  /* width: fit-content; */
  /* height: fit-content; */
  /* padding: 3px; */
}

.paper-box {
  /* position: relative; */
  width: 300px;
  filter: drop-shadow(0 0.2rem 0.25rem rgba(0, 0, 0, 0.3));
  /* bottom: 20%; */
}

.pet-info {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin: 0 50px 0 0;
}

.bioName {
  /* position: absolute; */
  color: rgb(70, 30, 10);
  font-size: 2rem;
  font-weight: 800;
}

.more-details {
  display: flex;
  align-items: center;
  gap: 10px;
}

.bio-gender-age {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  font-size: 1rem;
  color: rgb(155, 60, 25);
}
.gender-icon {
  width: 20px;
}
/* motion style */

.motion-button {
  border: none;
  background-color: unset;
}

.pagination {
  display: flex;
  list-style-type: none;
  justify-content: center;
  gap: 30px;
  padding: 20px;
}

.page-item {
  background-color: white;
  border: transparent;
  font-size: 1.4rem;
}

.page-item:hover {
  background-color: yellow;
}
