.filterBar-wrapper {
  /* display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px; */
  /* margin: 20px; */
  /* display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 60px; */
  margin: 0 30px 80px 30px;
}
/* Drop-down Buttons */
.drop-down-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  /* flex: 1 !important; */
  padding: 20px;
}
.group {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  flex: 1 !important;
}

.filterBar {
  flex: 1;
}
.selection {
  color: rgb(70, 30, 10) !important;
  font-size: 1rem !important;
  font-weight: 600 !important;
  /* min-width: 150px !important; */
  flex: 1 !important;
}
.option {
  color: rgb(70, 30, 10) !important;
  font-size: 1rem !important;
  /* font-weight: 600; */
}

/* Buttons */
.filterClearButton-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 10px;
  flex-wrap: wrap;
  /* min-height: 40px; */
}

.filterClearButton {
  /* flex: 1; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.filtering {
  /* min-width: 95%;
  min-height: 80%;
  border-radius: 5px;
  color: white;
  background-color: rgb(255, 128, 82);
  border: 2px solid rgb(255, 128, 82); */
  border: 5px dotted rgb(250, 220, 180);
  background-color: #f9a24bcb;
  width: max-content;
  min-width: 150px;
  padding: 10px 20px;
  border-radius: 15px;
  font-size: 1.2rem;
  font-weight: 600;
  color: rgb(70, 30, 10);
  /* flex: 1; */
}

.clearAll {
  /* min-width: 95%;
  min-height: 80%;
  border-radius: 5px;
  background-color: white;
  color: rgb(255, 128, 82);
  border: 2px solid rgb(255, 128, 82); */
  border: 5px dotted rgb(250, 220, 180);
  background-color: #fff;
  width: max-content;
  min-width: 150px;
  padding: 10px 20px;
  border-radius: 15px;
  font-size: 1.2rem;
  font-weight: 600;
  color: rgb(70, 30, 10);
  /* flex: 1; */
}

.filtering:hover {
  /* background-color: white;
  color: rgb(255, 128, 82); */
  background-color: rgb(255, 224, 100);
  border: 5px dotted #fff;
  /* color: white; */
}
.clearAll:hover {
  /* background-color: rgb(255, 128, 82); */
  /* color: white;
  border: 5px dotted #fff; */
  background-color: rgb(255, 224, 100);
  border: 5px dotted #fff;
}

/* 
@media (min-width: 1280px) {
  .filterBar-wrapper {
    grid-template-columns: repeat(5, 1fr);
  }
}

@media (min-width: 960px) and (max-width: 1000px) {
  .filterBar-wrapper {
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 70px;
  }
  .filterBar {
    margin: 10px;
  }

  .filtering {
    justify-self: flex-end;
  }

  .clearAll {
    justify-self: flex-start;
  }
} */

/* @media (max-width: 959px) {
  .filterBar-wrapper {
    grid-template-columns: repeat(1, 1fr);
  }
  .filterBar {
    margin: 10px;
  }
  .filtering {
    min-width: 100%;
    min-height: 100%;
  }

  .clearAll {
    min-width: 100%;
    min-height: 100%;
  }
} */
