#LOGO-subheading {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  text-align: center;
  margin-bottom: 10px;
}

#subheading-text {
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 12px;
}

.LOGO-wrapper {
  display: flex;
  justify-content: space-evenly;
  margin-top: 50px;
  margin-bottom: 50px;
}

.logo-one {
  height: 80px;
  max-width: 100%;
}

@media (min-width: 960px) and (max-width: 1279px) {
  .LOGO-wrapper {
    flex-wrap: wrap;
  }

  .logo-one {
    margin-right: 20px;
    margin-top: 20px;
  }
}

@media (max-width: 959px) {
  .LOGO-wrapper {
    flex-wrap: wrap;
  }

  .logo-one {
    margin-right: 20px;
    margin-top: 20px;
  }
}
